<section id="singal_review">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="d-flex flex-wrap">
            <div class="col-md-4 review_img text-md-left text-center">
                <img src="img/trustpilot.png" alt="trustpilot">
            </div>
            <div class="col-md-8 text-center">
                <img src="img/icon_quote.png" alt="quote icon" class="quote mb-4 mt-md-0 mt-4">
                <p class="mb-3"><%- gettext("…I'm glad you're here and I'm glad to put my money towards a great service. I wish you all the best of luck. I'm looking forward to enjoying a freer internet experience.") %></p>
                <p>– John S.</p>
            </div>
        </div>
    </div>
</section>