<section id="sponsors">
    <div class="container text-center">
        <h5><%- gettext('Proud Sponsor Of') %>:</h5>
        <div class="d-sm-flex justify-content-center align-items-center flex-wrap logos">
            <div data-toggle="tooltip" data-placement="top" title="Electronic Frontier Foundation" class="mr-sm-5 mt-5">
                <img src="img/sponsers/sponsor_logo_EFF.svg" alt="EFF">
            </div>
            <div data-toggle="tooltip" data-placement="top" title="Fight For The Future" class="mr-sm-5 mt-5">
                <img src="img/sponsers/sponsor_logo_Fight_for_the_future.png" alt="Fight For The Future">
            </div>
            <div data-toggle="tooltip" data-placement="top" title="Internet Society" class="mr-sm-5 mt-5">
                <img src="img/sponsers/sponsor_logo_internet_society.png" alt="Internet Society">
                    </div>
            <div data-toggle="tooltip" data-placement="top" title="Open Right Group" class="mr-sm-5 mt-5">
                <img src="img/sponsers/sponsor_logo_ORG.png" alt="Open Right Group">
            </div>
            <div data-toggle="tooltip" data-placement="top" title="Accessnow" class="mr-sm-5 mt-5">
                <img src="img/sponsers/sponsor_logo_accessnow.png" alt="Accessnow">
            </div>
            <div data-toggle="tooltip" data-placement="top" title="Software Freedom Conservancy" class="mr-sm-5 mt-5">
                <img src="img/sponsers/sponsor_logo_software_freedom_conservancy.svg" alt="Software Freedom Conservancy">
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>