<section id="platforms_and_payment">
    <div class="container d-flex flex-column flex-md-row">
        <div class="col-md-6">
            <h6 class="mb-4"><%- gettext('Compatible with all popular desktop and mobile operating systems') %></h6>
            <div class="operating_systems">
                <div class="d-inline-block mr-3"><img src="img/os_ios.png" alt="ios"></div>
                <div class="d-inline-block mr-3"><img src="img/os_winodws.png" alt="Winodws"></div>
                <div class="d-inline-block mr-3"><img src="img/os_linux.png" alt="Linux"></div>
                <div class="d-inline-block mr-3"><img src="img/os_macos.png" alt="macos"></div>
                <div class="d-inline-block mr-3"><img src="img/os_android.png" alt="Android"></div>
                <div class="d-inline-block mr-3"><img src="img/os_chrome.png" alt="Chrome"></div>
                <div class="d-inline-block mr-3"><img src="img/os_firefox.png" alt="Firefox"></div>
                <div class="d-inline-block mr-3"><img src="img/os_opera.png" alt="Opera"></div>
            </div>
        </div>
        <div class="col-md-6">
            <h6 class="mb-4 mt-md-0 mt-3"><%- gettext('We accept all kinds of payment methods') %></h6>
            <div class="payment_methods">
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_paypal.png" alt="paypal"></div>
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_visa.png" alt="visa"></div>
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_mastercard.png" alt="mastercard"></div>
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_amex.png" alt="amex"></div>
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_discover.png" alt="discover"></div>
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_amazon.png" alt="amazon"></div>
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_bitcoin.png" alt="bitcoin"></div>
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_paygarden.png" alt="paygarden"></div>
                <div class="d-inline-block mr-2"><img src="img/payments/payment_icon_target.png" alt="target"></div>
            </div>
        </div>
    </div>
</section>