#navbar-main {
    @extend %nav-bar;
    color: $night-Rider;
    background-color: $white;
    padding: 0;
    height: 80px;
    box-shadow: 0px 0px 0px #00000045;
    @include prefix((transition: box-shadow .2s), webkit moz ms);

    @media screen and (max-width: $brk-ipad-width) {
        height: 60px;
    }

    &.navbar-move {
        background-color: $white;
        box-shadow: 0px 4px 5px #00000045;

        & .container {
            @include flexy(flex, $just: space-between, $align-i: center);
        }
    }

    & .btn_pia {
        @media screen and (max-width: $brk-ipad-width) {
            font-size: 16px;
            padding: 8px 10px;
            min-width: 150px;
        }

        @media screen and (max-width: 370px) {
            display: none;
        }
    }


    & .container {

        @media screen and (max-width: $brk-desktop-width) {
            max-width: unset;
            padding: 0 10%;
        }

        & .logo {
            height: 40px;
            margin: 15px 0;

            @media screen and (max-width: $brk-ipad-width) {
                height: 25px;
                margin: 22.5px 0;
            }

            @media screen and (max-width: $brk-mobile-width) {
                height: 20px;
                margin: 25px 0;
            }
        }
    }

    & #language {
        float: right;
        position: relative;

        display: none;

        & a {
            display: inline-block;
            color: $grey;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;

            &:hover,
            &:active,
            &:hover span,
            &:active span {
                color: $black;
            }

            & span {
                @include prefix((transition: color .1s linear), webkit moz ms);
            }
        }

        & .languages_list {
            @include flexy(flex, column);
            position: absolute;
            top: 65px;
            background-color: #fff;
            @include prefix((transition: opacity 0.3s ease), webkit moz ms);
            visibility: hidden;
            opacity: 0;
            width: 200px;
            box-shadow: 0 5px 8px 3px rgba($black, 0.08);
            right: -20px;
        }

        & .languages_list img,
        & .language-content img {
            display: inline-block;
            height: 16px;
            margin-right: 15px;
        }

        &:hover .languages_list {
            visibility: visible;
            opacity: 1;

            & a {
                padding: 10px 20px;

                &:nth-of-type(1) {
                    margin-top: 10px;
                }

                &:nth-last-of-type(1) {
                    margin-bottom: 10px;
                }
            }
        }

        & .language-content {
            height: 70px;
            @include flexy(flex, $align-i: center);
        }
    }
}