$nav_height: 65px;
$nav_height_mobile: 55px;
#navbar-main {
    @extend %nav-bar;
    color: #fff;
    background-color: #263238;
    padding: 0;
    height: $nav_height;
    top: -$nav_height;
    @include prefix((transition: top .1s linear), webkit moz ms);
    @media screen and (max-width: $brk-ipad-width - 1) {
        height: $nav_height_mobile;
        top: -$nav_height_mobile;
    }
    & .container {
        @include flexy(flex, $just: space-between, $align-i: center);
    }
    &.navbar-move {
        top: 0;
        background-color: #263238;
    }

    & .container {
        height: $nav_height;
        @media screen and (max-width: $brk-ipad-width) {
            max-width: 95%;
        }
        @media screen and (max-width: $brk-ipad-width - 1) {
            height: $nav_height_mobile;
        }
        &>div {
            height: $nav_height;
            min-width: 265px;
            @media screen and (max-width: $brk-min-desktop-width) {
                min-width: 240px;
            }
            @media screen and (max-width: $brk-ipad-width - 1) {
                min-width: 30px;
                height: $nav_height_mobile;
            }
        }
        & .logo {
            height: 40px;
            @media screen and (max-width: $brk-ipad-width - 1) {
                height: 25px;
            }
        }
    }
    & .btn_nav {
        & .fas {
            transform: rotateZ(-90deg);
        }
    }
    & #language {
        float: right;
        position: relative;
        height: $nav_height;
        @media screen and (max-width: $brk-ipad-width - 1) {
            height: $nav_height_mobile;
        }
        & a {
            display: inline-block;
            color: #fff;
            font-size: 14px;
            font-weight: 300;

            &:hover,
            &:active,
            &:hover span,
            &:active span {
                color: $pia-green;
            }

            & span {
                @include prefix((transition: color .1s linear), webkit moz ms);
            }
        }

        & .languages_list {
            @include flexy(flex, column);
            position: absolute;
            top: $nav_height;
            background-color: #263238;
            @include prefix((transition: opacity 0.3s ease), webkit moz ms);
            visibility: hidden;
            opacity: 0;
            width: 150px;
            box-shadow: 0 5px 8px 3px rgba($black, 0.08);
            right: -20px;
            @media screen and (max-width: $brk-ipad-width - 1) {
                top: $nav_height_mobile;
            }
        }

        &:hover .languages_list {
            visibility: visible;
            opacity: 1;

            & a {
                padding: 10px 15px;

                &:nth-of-type(1) {
                    margin-top: 10px;
                }

                &:nth-last-of-type(1) {
                    margin-bottom: 10px;
                }
            }
        }

        & .language-content {
            height: $nav_height;
            @include flexy(flex, $align-i: center);
            & .globe {
                width: 15px;
            }
            @media screen and (max-width: $brk-ipad-width - 1) {
                height: $nav_height_mobile;
            }
        }
    }
}