// ======================================
//  Button Styles
// ======================================

%btn {
    color: #fff;
    display: inline-block;
    min-width: 200px;
    font-size: 18px;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.2s ease 0s;
    font-weight: 700;

    @media screen and (max-width: $brk-mobile-width) {
        & {
            font-size: 16px;
            padding: 10px 5px;
            width: 100%;
        }
    }
}
%btn_default {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-width: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    @include prefix((transition: all .2s ease 0s), webkit moz ms);
    padding: 15px 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-transform: capitalize;
    box-shadow: 0px 0px 5px #00000045;

    @media screen and (max-width: $brk-mobile-width) {
        & {
            font-size: 16px;
            padding: 10px 5px;
            min-width: 260px;
        }
    }
}

// btns
    // .orange_btn
    @include btn($pia-orange) {
        @extend %btn;
    }

    .btn_pia {
        @extend %btn_default;
        &:hover {
            color: #fff;
            @include prefix((transform: scale(1.05)), webkit moz ms);
        }
        &.small {    
            font-size: 20px;
            padding: 8px 20px;
            font-weight: 500;
            min-width: 230px;
        }
        &.orange {
            background-image: url(img/btn_orange_bg.png);
        }
        &.green {
            background-image: url(img/btn_green_bg.png);
        }
    }

    .btn_hp_gradient_orange {
        color: #543802;
        font-weight: 500;
        background-image: linear-gradient(-180deg, #FAD961 0%, #F9C152 6%, #F89033 88%, #F76B1C 100%) !important;
        border: 1px solid #D1900D;
        border-radius: 4px;
        text-decoration: none;
        padding: 10px 16px;
        font-size: 20px;
        line-height: 1.3333333;
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        user-select: none;
        min-width: 250px;
        &:hover, &:focus {
            background-image: linear-gradient(-180deg, #FAD961 0%, #F9C152 25%, #F89033 100%) !important;
        }
    }
// btn addons
    .shadow_btn {
        box-shadow: 0 0 10px rgba($black, 0.5);

        &:hover,
        &:active {
            box-shadow: 0 0 0 rgba($black, 0.5);
        }
    }

    .big_btn {
        min-width: 300px;
        font-size: 22px;
        padding: 15px 40px;
        @media screen and (max-width: $brk-mobile-width) {
            font-size: 20px;
            html:lang(ru) &,
            html:lang(fr) & {
                font-size: 19px;
            }
            html:lang(nl) & {
                font-size: 18px;
            }
        }
    }