// ======================================
//  default Styles
// ======================================

* {
    box-sizing: border-box;
}

body {
    color: $color-text;
    font-family: $stack-roboto;
    overflow-x: hidden;
}

a {
    color: $color-text;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color-text;
        text-decoration: none;
    }
}

%nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 11111111111111111;
    margin: 0;
    border: none;
    border-radius: unset;
}

%container {
    width: 100%;
    max-width: $brk-desktop-width;
    margin: 0 auto;
}

%contain-all {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

// font color

.color_pia_orange {
    color: $pia-orange; 
}
.color_pia_light_orange {
    color: $pia-light-orange; 
}
.color_pia_green {
    color: $pia-green;
}
.color_pia_yellow {
    color: $pia-yellow;
}
.color_white {
    color: $white;
}
.color_dark_green {
    color: #004249;
}
// flex containers
.flex_container_column {
    @include flexy($just: center); 
    @media screen and (max-width: $brk-ipad-width ) {
        flex-direction: column;
    } 
}
// section
section {
    padding: 50px 0;
    padding: 30px 0;
    overflow: hidden;
    @media screen and (max-width: $brk-mobile-width) {
        padding: 20px 0;
    }
}
p,q {
    @media screen and (max-width: $brk-mobile-width) {
        font-size: 16px;
    } 
}
h3.hp {
    font-size: 23px;
    color: lighten($black, 26.5%);
    padding: 20px 0 40px;
    font-weight: 400;
}
.new_title {
    font-size: 35px;
    color: #004249;
    padding: 0px 0 30px;
    font-weight: 400; 
    @media screen and (max-width: $brk-ipad-width) {
        font-size: 25px;
        padding: 0px 0 20px;
    }
    @media screen and (max-width: $brk-mobile-width) {
        padding: 0px 0 10px;
    }
}
.new_subtitle {
    font-weight: 300;
    margin: 0 auto;
    font-size: 30px;
    color: #004249;
    @media screen and (max-width: $brk-ipad-width) {
        font-size: 20px;
    }
}
.tob_bottom_borders {
    border-bottom: solid 3px #F6F9FE;
    border-top: solid 3px #F6F9FE;
    padding: 30px 0;
}

#brand {
    & p {
        font-size: 16px;
    }
    & img {
        max-height: 40px;
        max-width: 100%;
    }
}