// ======================================
//  variables Styles
// ======================================

// Colors

$white: #fff;
$black: #000;

$night-Rider: #323232;
$nero: #232323;
$grey: #858585;
$mantis: #84BF47;

$pia-green: #5EB258;
$pia-orange: #f77422;
$pia-yellow: #f9bc4f;

$dark-pia-green: darken($pia-green, 10%);
$lignt-pia-green: lighten($pia-green, 10%);

$color-text: $black;

// Font stacks

$stack-arial:  Arial, sans-serif;
$stack-helvetica: Helvetica, $stack-arial;
$stack-roboto: Roboto, $stack-helvetica;

// Media query breakpoints

$brk-desktop-width      : 1200px;
$brk-min-desktop-width  : 991px;
$brk-ipad-width         : 768px;
$brk-mobile-width       : 420px;
$brk-min-mobile-width   : 320px;

// Media
$media-min-desktop-width    : "@media screen and (max-width: 1200px)";
$media-min-desktop-width    : "@media screen and (max-width: 991px)";
$media-ipad-width           : "@media screen and (max-width: 768px)";
$media-min-mobile-width     : "@media screen and (max-width: 420px)";
$media-min-mobile-width     : "@media screen and (max-width: 320px)";