<div class="b2mfree text-center color_white">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 243.6 267.4" enable-background="new 0 0 243.6 267.4" xml:space="preserve">
        <g>
            <polygon opacity="0.11" fill="#020203" enable-background="new" points="217.2,50.5 221.5,41.5 199.3,49.5 0,38.5 34.6,108.9 
                22.7,113.2 113.3,267.4 228.7,51.5"/>
            <polygon fill="#F59E1B" points="243.6,38.4 120.2,254.3 7.9,25.4"/>
            <polygon fill="#E7267A" points="229.4,28.4 30.6,100.1 120.2,254.3"/>
        </g>
        <g class="Text_White">
            <text></text>
            <text transform="matrix(0.9722 0.2341 -0.2341 0.9722 42.4821 73.5978)" stroke="#F59E1B" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" font-size="82.6411px">+</text>
            <text transform="matrix(0.9722 0.2341 -0.2341 0.9722 74.2796 99.3561)" stroke="#F59E1B" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" font-size="138.9377px">2</text>
            <text transform="matrix(0.9722 0.2341 -0.2341 0.9722 39.0927 169.5558)" stroke="#F59E1B" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" font-size="53.0449px"><%- gettext("FREE") %></text>
        </g>
        <g class="Text_White text"> 
                <text transform='matrix(0.9722 0.2341 -0.2341 0.9722 74.2796 99.3561)' font-size='138.9377px'><%- format(gettext("2</text><text transform='matrix(0.9722 0.2341 -0.2341 0.9722 42.4821 73.5978)' font-size='83px'>+</text><text transform='matrix(0.9722 0.2341 -0.2341 0.9722 46.0271 120.4594)' font-size='17px'>EXTRA MONTHS</text><text transform='matrix(0.9722 0.2341 -0.2341 0.9722 39.0927 169.5558)' font-size='53px'>FREE"),[2]) %></text>
        </g>
    </svg>
    
</div>