<% if (query.brand) { %>
    <div id="brand">
        <span><%- gettext('As recommended by') %>:</span>
        <img src="https://nitool.s3.amazonaws.com/logos/<%- query.brand %>.png">
    </div>
<% } %>