<div id="brand">
    <p class="d-inline-block mb-0"><%- gettext('As recommended by') %>:</p>
    <img class="d-inline-block" src="https://nitool.s3.amazonaws.com/logos/<%- query.brand %>.png" alt="<%- query.brand %>">
</div>