<div class="btn_pia">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 304.5"
        style="enable-background:new 0 0 1920 304.5;" xml:space="preserve">
        <style type="text/css">
            .st0 {
                fill: url(#a);
            }

            .st1 {
                fill: url(#b);
            }

            .st2 {
                opacity: 0.495;
                fill: url(#c);
            }
        </style>
        <g transform="translate(-7.5 -.5)">

            <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="-1241.7506" y1="-274.4606" x2="-1241.7506"
                y2="-267.1772" gradientTransform="matrix(458 0 0 63 569689 17295.0879)">
                <stop offset="0" style="stop-color:#F77321" />
                <stop offset="1" style="stop-color:#FABE51" />
            </linearGradient>
            <rect x="8.3" y="1.7" class="st0" width="1917.9" height="304.1" />
        </g>
        <g transform="translate(-.002 -.437)">

            <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="-1256.7435" y1="-269.447" x2="-1256.7435"
                y2="-274.3452" gradientTransform="matrix(459.07 0 0 61.791 577895.4375 16954.6934)">
                <stop offset="0" style="stop-color:#FABE51" />
                <stop offset="8.800000e-02" style="stop-color:#F7A025" />
                <stop offset="0.192" style="stop-color:#F59414" />
                <stop offset="0.32" style="stop-color:#F38C08" />
                <stop offset="0.5" style="stop-color:#F28701" />
                <stop offset="1" style="stop-color:#F77321" />
            </linearGradient>
            <polygon class="st1" points="0.2,1.5 1922.5,1.5 1924.1,303.9 4.6,306 	" />
        </g>
        <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="-1258.5184" y1="-269.6136" x2="-1257.5585"
            y2="-269.7236" gradientTransform="matrix(460.11 0 0 51.298 579210.5625 13999.4492)">
            <stop offset="0" style="stop-color:#F77321" />
            <stop offset="8.400000e-02" style="stop-color:#F89335;stop-opacity:0.545" />
            <stop offset="0.173" style="stop-color:#F9A842;stop-opacity:0.345" />
            <stop offset="0.226" style="stop-color:#FABE51" />
            <stop offset="0.892" style="stop-color:#FAB64C" />
            <stop offset="1" style="stop-color:#F77321" />
        </linearGradient>
        <path class="st2" d="M0,12.5c273,116,822-107,1920,39v253H0V12.5z">
            <animate accumulate="none" additive="replace" attributeName="d" attributeType="XML" calcMode="linear"
                class="st2" begin="team.mouseover" end="team.mouseout" dur="15s" fill="remove" repeatCount="indefinite" restart="always"
                values="             M0 77              C 473,283               822,-40               1920,116               V 359              H 0              V 67              Z;               M0 77              C 473,-40               1222,283               1920,136               V 359              H 0              V 67              Z;               M0 77              C 973,260               1722,-53               1920,120               V 359              H 0              V 67              Z;               M0 77              C 473,283               822,-40               1920,116               V 359              H 0              V 67              Z             ">
            </animate>
        </path>
    </svg>
</div>