<div class="circle_discount_container text-center position-relative color_white">
    <div class="title"><%- gettext("today's<br>offer") %></div>
    <div class="discount_container">
        <div class="discount">-<%- prices.blocks[1].discount %></div>
        <div class="percent">%</div>
    </div>
</div>