<div id="discount_block" class="mt-5 mb-4 d-flex align-items-center">
    <div class="left_line d-none d-md-block"><img src="img/badge_frame_arrow_left.svg" alt="line"></div>
    <div class="left_line d-block d-md-none"><img src="img/badge_frame_left.svg" alt="line"></div>
    <div class="right_line">
        <p class="mb-0 text-left top"><%- gettext("For a Limited Time Only<br>Grab our") %></p>
        <div class="discount d-flex">
            <p class="mb-0"><%- prices.blocks[1][currency.iso].discount %></p>
            <p class="mb-0">%</p>
        </div>
        <p class="mb-0 text-uppercase text-left bottom"><%- gettext("DISCOUNT") %></p>
    </div>
</div>
