<link rel="stylesheet" href="<%= asset('css/got_badge.css') %>">
<got>
    <img src="/img/got_badge.png?v2" class="got-bird">
    <a class="closeIt"></a>
</got>
<script>
    $(document).ready(function () {
        $("GOT").children().click(function (e) {
            if (!$(this).hasClass("closeIt")){
                window.location.href='<%- offerLink %>&aff_sub5=game_of_throne_sticker&conversionpoint=game_of_throne_sticker'
            } else $("GOT").fadeOut("slow");
        });
    });
</script>