<section id="lifehacker_bar">
    <div class="container text-center">
        <div class="quote d-inline-block position-relative">
            <img src="img/quotes_green.png" alt="quotes" class="quotes position-absolute">
            <h5 class="d-inline-block">
                <%- gettext('Our readers made it abundantly clear that Private Internet Access should be your first stop for protecting your private browsing data.') %> 
            </h5>
            <img src="img/quotes_green.png" alt="quotes" class="quotes position-absolute">
        </div>
        <img src="img/logo_lifehacker2.png" alt="lifehacker" class="d-inline-block lifehacker">
        <a href="<%- offerLink %>" class="btn_pia orange"><%- gettext("Get started now") %></a>
    </div>
</section>