<section id="lifehacker_bar">
    <div class="container text-center">
        <h5 class="d-inline-block mx-auto color_pia_green"><%- gettext('Our readers made it abundantly clear that Private Internet Access should be your first stop for protecting your private browsing data.') %> - 
            <img src="/img/logo_lifehacker_bar.png" alt="lifehacker" class="d-inline-block">
        </h5>
    </div>
</section>