
<section id="operating_system">
    <div class="container text-center">
        <h2 class="mb-5"><%- gettext("Compatible with all popular desktop and mobile operating systems") %></h2>
        <div class="d-flex justify-content-between">
            <div>
                <div class="mb-2"><img src="img/os_green_windows.svg" alt="Windows"></div>
                <h6>Windows</h6>
            </div>
            <div>
                <div class="mb-2"><img src="img/os_green_macos.svg" alt="MacOS"></div>
                <h6>Macos</h6>
            </div>
            <div>
                <div class="mb-2"><img src="img/os_green_linux.svg" alt="Linux"></div>
                <h6>Linux</h6>
            </div>
            <div>
                <div class="mb-2"><img src="img/os_green_android.svg" alt="Android"></div>
                <h6>Android</h6>
            </div>
            <div>
                <div class="mb-2"><img src="img/os_green_ios.svg" alt="Iphone/Ipad"></div>
                <h6>iPhone/iPad</h6>
            </div>
            <div>
                <div class="mb-2"><img src="img/os_green_chrome.svg" alt="Chrome"></div>
                <h6>Chrome</h6>
            </div>
            <div>
                <div class="mb-2"><img src="img/os_green_firefox.svg" alt="Firefox"></div>
                <h6>Firefox</h6>
            </div>
            <div>
                <div class="mb-2"><img src="img/os_green_opera.svg" alt="Opera"></div>
                <h6>Opera</h6>
            </div>
        </div>
    </div>
</section>