<section id="pcmag_bar">
    <div class="container text-center tob_bottom_borders">
        <h5 class="d-inline-block mx-auto quotes color_dark_green">
            <q><%- gettext('Private Internet Access out-performs and out-features the competition') %></q>-
            <img src="img/logo_pcmag_red.png" alt="PCMAG logo" class="d-inline-block">
        </h5>
    </div>
</section>