<section id="pcmag_bar">
    <div class="container text-center">
        <h5 class="d-inline-block mx-auto"><q><%- gettext('Private Internet Access out-performs and out-features the competition') %></q>-
            <img src="/img/logo_pcmag.png" alt="PCMAG logo" class="d-inline-block"
        </h5>
    </div>
</section>