<div id="discount_block" class="mt-md-5 mt-4 mb-4 d-flex align-items-center price_block">
    <div class="left_line mr-2"><img src="img/price_badge_left.svg" alt="line"></div>
    <div class="right_line">
        <p class="text-left top"><%- gettext("For a Limited Time Only") %></p>
        <div class="discount d-flex">
            <p class="mb-0"><span>$</span><%- prices.blocks[1][currency.iso].perMonthNumber %></p>
        </div>
        <p class="mb-0 text-left bottom"><%- gettext("/month") %></p>
    </div>
</div>
