<section id="servers">
    <div class="container d-flex">
        <div class="col-4">
            <img src="/img/servers_globe.png" alt="" class="globe">
        </div>
        <div class="col_width">
            <h3 class="hp"><%- format(gettext('%s+ Servers in %s Countries'), ['3335', '30']) %></h3>
            <div class="d-flex flex-wrap">
                <div class="mr-3 mb-3"><img src="/img/flag_us.png" alt="United States flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_gb.png" alt="United Kingdom flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_ca.png" alt="Canada flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_au.png" alt="Australia flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_de.png" alt="Germany flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_nz.png" alt="New Zealand flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_nl.png" alt="Netherlands flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_se.png" alt="Sweden flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_no.png" alt="Norway flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_dk.png" alt="Denmark flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_fi.png" alt="Finland flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_ch.png" alt="Switzerland flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_fr.png" alt="France flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_be.png" alt="Belgium flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_at.png" alt="Austria flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_cz.png" alt="Czech Republic flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_lu.png" alt="Luxembourg flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_ie.png" alt="Ireland flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_it.png" alt="Italy flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_es.png" alt="Spain flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_ro.png" alt="Romania flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_hu.png" alt="Hungary flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_po.png" alt="Poland flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_ae.png" alt="United Arab Emirates flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_hk.png" alt="Hong Kong flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_sg.png" alt="Singapore flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_jp.png" alt="Japan flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_il.png" alt="Israel flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_mx.png" alt="Mexico flag"></div>
                <div class="mr-3 mb-3"><img src="/img/flag_in.png" alt="India flag"></div>
                <div class="flag_text"><%- gettext('... and growing') %></div>
            </div>
        </div>
    </div>
</section>