<section id="servers" class="show_in_position">
    <div class="container text-center">
        <h3 class="new_title"><%- format(gettext('%s+ Servers in %s Countries'), ['3335', '30']) %></h3>
        <div class="d-flex justify-content-center content">
            <div class="col_width">
                <div>
                    <div class="servers d-inline-block mr-4">
                        <h1 class="title color_pia_green my-0 d-inline-block" data-count="3335">3335</h1>
                        <h1 class="title d-inline-block color_pia_green my-0">+</h1>
                        <h3 class="sub_title mb-3 color_dark_green"><%- gettext('Servers') %></h3>
                    </div>
                    <div class="countries d-inline-block ml-4">
                        <h1 class="title color_pia_green my-0" data-count="30">30</h1>
                        <h3 class="sub_title mb-3 color_dark_green"><%- gettext('Countries') %></h3>
                    </div>
                    <div class="d-flex flex-wrap countries_flag justify-content-center">
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_us.png" alt="United States flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_gb.png" alt="United Kingdom flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_ca.png" alt="Canada flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_au.png" alt="Australia flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_de.png" alt="Germany flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_nz.png" alt="New Zealand flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_nl.png" alt="Netherlands flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_se.png" alt="Sweden flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_no.png" alt="Norway flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_dk.png" alt="Denmark flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_fi.png" alt="Finland flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_ch.png" alt="Switzerland flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_fr.png" alt="France flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_be.png" alt="Belgium flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_at.png" alt="Austria flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_cz.png" alt="Czech Republic flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_lu.png" alt="Luxembourg flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_ie.png" alt="Ireland flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_it.png" alt="Italy flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_es.png" alt="Spain flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_ro.png" alt="Romania flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_hu.png" alt="Hungary flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_po.png" alt="Poland flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_ae.png" alt="United Arab Emirates flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_hk.png" alt="Hong Kong flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_sg.png" alt="Singapore flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_jp.png" alt="Japan flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_il.png" alt="Israel flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_mx.png" alt="Mexico flag"></div>
                        <div class="mr-3 mb-3"><img src="/img/circle_flag_in.png" alt="India flag"></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="/img/servers_globe2.png" alt="" class="globe">
            </div>
        </div>
    </div>
</section>
<script src="<%= asset('js/countTo.js') %>"></script>