<section id="trusted_companies">
    <div class="container text-center border_bottom">
        <h5><%- gettext("Trusted By Companies Including:") %></h5>
        <div class="d-flex justify-content-center flex-nowrap">
            <div>
                <img src="img/logo_forbes.png" alt="Forbes">
            </div>
            <div>
                <img src="img/logo_business_insider.png" alt="Business Insider">
            </div>
            <div>
                <img src="img/logo_gizmodo.png" alt="Gizmodo">
            </div>
            <div>
                <img src="img/logo_cbs_news.png" alt="CBS News">
            </div>
            <div>
                <img src="img/logo_lifehacker.png" alt="Lifehacker">
            </div>
            <div>
                <img src="img/logo_wired.png" alt="Wired">
            </div>
        </div>
    </div>
</section>