<footer id="people_discount" class="py-sm-5 py-3">
    <div class="container d-flex justify-content-center align-items-center flex-wrap-reverse flex-md-nowrap">
        <div class="col-md-6 text-md-left text-center mt-md-0 mt-4">
            <h3 class="new_title"><%- gettext("7 day money back guarantee") %></h3>
            <p class="color_dark_green mb-4 mb-sm-5"><%- gettext("If you’re not 100% satisfied with Private Internet Access, we’ll give you your money back. Try us risk free, that’s our 7 day money back guarantee.") %></p>
            <a href="<%- offerLink %>" class="btn_pia orange"><%- gettext("Get Private Internet Access") %></a>
        </div>
        <% include ../circle_discount %>
    </div>
</footer>