@import '../partials/super_price';
@import '../partials/sponsors';

footer {
   
    &>.container  {
        margin-bottom: -290px;
        position: relative;
        z-index: 2;
        @media screen and (max-width: $brk-ipad-width - 1) {
            margin-bottom: 0;
        }
    }
    & .corners {
        background-image: url(img/even_corners.svg);
        width: 100vw;
        height: 4.11vw;
        background-position: bottom;
        background-repeat: no-repeat;
        top: -1%;
        position: absolute;
        background-size: 102%;
    }
    & .guarantee {
        background-image: url(img/money_back_badge.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        background-position: center;
        padding: 30px 33px;
        html[lang=fra] & {
            padding: 70px 40px 45px;
            @media screen and (max-width: $brk-mobile-width) {
                padding: 40px 40px 43px;
            }
        }
        & h1 {
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 1;
            text-shadow: 0 0 5px #00000080;
            margin-top: -.8rem;
            margin-bottom: 1.3rem;

            & span {
                font-size: .3em;
            }
        }
        & h5 {
            font-size: .9rem;
            @media screen and (max-width: $brk-mobile-width) {
                html[lang=fra] & {
                    font-size: .65rem;
                }
            }
        }
    }
    & .bg {
        background-color: $color-text-dark;
        background-image: url(img/dark_footer_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        padding-top: 260px;
        background-position: center top;
        @media screen and (max-width: $brk-ipad-width - 1) {
            padding-top: 30px;
        }
    }
    & h2.text-uppercase {
        @media screen and (max-width: $brk-ipad-width - 1) {
            font-size: 1.2rem;
        }
    }
}