@import '../partials/super_price';
@import '../partials/sponsors';

footer {
   
    &>.container  {
        margin-bottom: -290px;
        position: relative;
        z-index: 2;
        @media screen and (max-width: $brk-ipad-width - 1) {
            margin-bottom: 0;
        }
    }
    & .corners {
        background-image: url(img/even_corners.svg);
        width: 100vw;
        height: 4.11vw;
        background-position: bottom;
        background-repeat: no-repeat;
        top: -1%;
        position: absolute;
        background-size: 102%;
    }
    & .guarantee {
        background-image: url(img/money_back_badge.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        background-position: center;
        padding: 42px 33px;
        width: 265px;
        height: 203px;
        @media screen and (max-width: $brk-mobile-width) {
            padding: 25px 25px;
            width: 240px;
            height: 190px;
        }
        html[lang=fra] & {
            padding: 46px 45px;
            width: 300px;
            height: 215px;
            @media screen and (max-width: $brk-mobile-width) {
                padding: 19px 30px;
                width: 240px;
                height: 180px;
            }
        }
        html[lang=por] & {
            padding: 45px 33px;
            width: 280px;
            height: 215px;
        }
        & h1 {
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 1;
            text-shadow: 0 0 5px #00000080;
            margin-top: -.8rem;
            margin-bottom: 1.3rem;

            & span {
                font-size: .3em;
            }
        }
        & h5 {
            font-size: .9rem;
        }
    }
    & .bg {
        background-color: $color-text-dark;
        background-image: url(img/dark_footer_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        padding-top: 260px;
        background-position: center top;
        @media screen and (max-width: $brk-ipad-width - 1) {
            padding-top: 30px;
        }
    }
    & h2.text-uppercase {
        @media screen and (max-width: $brk-ipad-width - 1) {
            font-size: 1.2rem;
        }
    }
}