#people_discount {
    background-image: url("/img/footer_bg_people.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    & .circle {
        $width-circle: 225px;
        background-image: url("/img/footer_green_circle.png");
        background-size: contain;
        background-repeat: no-repeat;
        @include cube-box($width-circle);
        flex-basis: $width-circle;
        position: relative;
        color: $white;
        font-size: 16px;

        & .new {
            @include cube-box($width-circle/3.7);
            background-color: $pia-orange;
            border-radius: 50%;
            position: absolute;
            right: 5%;
            top: 15%;
            font-size: 1.2em;
            text-transform: uppercase;
            padding: 9% 4% 3%;
            line-height: 1;
            font-weight: 600;
        }
    }
    & .title {
        position: relative;
        top: 19%;
        left: 24%;
        font-size: 1.8em;
        line-height: .8;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
    }
    & .discount_container {
        top: 45%;
        font-size: 1.05em;
        left: 16%;
        & .discount,& .percent,& .off {
            line-height: 0.7;
            display: inline-block;
            text-transform: uppercase;
        }
        &, & .percent, & .off {
            position: absolute;
        }
        & .discount {
            font-size: 5em;
            font-weight: 800;
        }
        & .percent {
            top: 0px;
            right: -.7em;
            font-size: 3.5em;
            font-weight: 700;
        }
        & .off {
            bottom: -3px;
            font-size: 1.3em;
            font-weight: 700;
        }
    }
}