#people_discount {
    background-image: url("img/footer_bg_people2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-bottom: 70px!important;
    & h3 {
        padding: 0px;
        margin: 0;
    }
}