$shadow-light: '0px 4px 5px #00000045';

@import '../partials/trusted_companies';
@import '../partials/servers_globe';
@import '../partials/experience_system';
@import '../partials/why_pia';
@import '../partials/trustpilot/carousel';
@import '../footer/dark_footer';

h2 {
    font-weight: 400;
    font-size: 1.7rem;
    color: $color-text-dark;
}
.border_bottom {
    border-bottom: 1px solid #5EB258;
    padding-bottom: 30px;
}
#sevice {
    & img {
        width: 185px;
    }
    & p {
        color: $color-text-light;
    }
    & h5 {
        color: $color-text-dark;
        height: 50px;
    }
}