$shadow-light: '0px 4px 5px #00000045';

@import '../partials/trusted_companies';
@import '../partials/servers_globe';
h2 {
    font-weight: 400;
    font-size: 1.7rem;
    color: #37474f;
}
.border_bottom {
    border-bottom: 1px solid #5EB258;
    padding-bottom: 30px;
}
#sevice {
    & img {
        width: 185px;
    }
    & p {
        color: #6898b0;
    }
    & h5 {
        color: #37474f;
        height: 50px;
    }
}