<div browser="<%- (userAgent && userAgent.browser && userAgent.browser.name ) ? userAgent.browser.name.toLowerCase(): '' %>">
    <% include ../partials/trusted_companies %>
    <% include ../partials/sevice %>
    <% include ../partials/servers_globe %>
    <% include ../partials/experience_system %>
    <% include ../partials/why_pia %>
    <% include ../partials/trustpilot/carousel %>
    <% include ../partials/footers/dark_footer %>
</div>