@import 'index';

@import '../layout/navbar/navbar_white';

#page_404 {
    height: 100vh;

    & h1 {
        font-size: 72px;
        margin-top: 100px;
        font-weight: bold;
    }

    & p {
        color: #939598;
        font-size: 16px;
        line-height: 24px;
        max-width: 380px;
    }

    & .img_404 {
        width: 335px;
        html[lang=deu] & {
            width: 285px;
        }
        @media screen and (max-width: $brk-ipad-width - 1) {
            width: 190px;
            html[lang=deu] & {
                width: 190px;
            }
        }
    }

    & .container {
        & div:nth-of-type(2) {
            width: 330px;
            margin-left: 30px;
            html[lang=deu] & {
                width: 350px;
            }
            @media screen and (max-width: $brk-mobile-width) {
                width: 100%;
                margin: 0;
                html[lang=deu] & {
                    width: 100%;
                }
            }
        }

        @media screen and (max-width: $brk-ipad-width - 1) {
            text-align: center;
        }
    }
}