@import 'index';

@import '../layout/navbar/navbar_white';

@import '../layout/body/hp';

@import '../layout/footer/people_discount';

@import '../layout/partials/rain';

@import '../layout/partials/discount_circle';

header {
    width: 100%;
    padding-top: 80px;
    overflow: hidden;

    &.mobile {
        & .bg {
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 90px;
            margin-bottom: 25px;
            background-position: right bottom calc(50% - 80px);

            @media screen and (max-width: 550px) {
                background-position: right calc(50% + 20px) bottom calc(50% - 60px);
            }
        }

        & .container {
            z-index: 2;
            position: relative;
            padding-top: 0;
        }
    }

    & .circle {
        // background-image: url(img/Everyone_needs_Protection_bg_sky.jpg);
        background-size: cover;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        @include cube-box(580px);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        mask-image: -webkit-radial-gradient(white, black);

        @media screen and (max-width: $brk-desktop-width) {
            @include cube-box(450px);
        }
    }

    & .header_circle {
        background-color: #E1E7EF;
        width: 2000px;
        border-bottom-left-radius: 1000px;
        border-top-left-radius: 1000px;
        padding: 15px;
    }

    & h2 {
        line-height: 1;

        @media screen and (max-width: $brk-desktop-width) {
            font-size: 26px;
        }
        html[lang=fra] & {
            @media screen and (max-width: $brk-min-desktop-width) {
                font-size: 20px;
            }
        }
        & b {
            font-size: 2em;
            html[lang=fra] & {
                font-size: 1.8em;
                line-height: 1.2;
            }
        }
    }

    & h1, & h2 {
        line-height: 1;
        &.privacy {
            font-size: 2rem;
            font-weight: 400;
            & b {
                font-size: 2.5em;
                html[lang=fra] & {
                    font-size: 1.4em;
                }
                html[lang=deu] & {
                    font-size: 2em;
                    @media screen and (max-width: $brk-mobile-width) {
                        font-size: 1.5em;
                    }
                }
            }
        }
        &.top-vpn {
            & b {
                font-size: 2.5em;
                text-transform: uppercase;
                html[lang=fra] &,
                html[lang=deu] & {
                    font-size: 1.5em;
                }
            }
        }
        &.protect {
            font-size: 24px;
            font-weight: 500;
            @media screen and (max-width: $brk-desktop-width) {
                font-size: 20px;
            }
            & b {
                font-size: 3.8em;
                line-height: .9;
                html[lang=deu] & {
                    font-size: 3.5em;
                }
            }
        }
        &.unblock {
            & b {
                font-size: 2.5em;
                html[lang=deu] & {
                    font-size: 2em;
                    @media screen and (max-width: $brk-mobile-width) {
                        font-size: 1.5em;
                    }
                }
            }
        }
        &.trust {
            & b {
                font-size: 2.5em;
                text-transform: uppercase;
                html[lang=deu] & {
                    font-size: 1.8em;
                }
            }
        }
    }

    & .sub_btn {
        font-size: 14px;
    }

    & .price {
        font-size: 16px;
        html[lang=fra] & {
            font-size: 14px;
        }

        & .for {
            line-height: 1;
            font-size: 1.5em;
            font-weight: 500;
        }

        & .fullprice {
            font-size: 4em;
            font-weight: 600;
            line-height: 1;

            @media screen and (max-width: $brk-mobile-width) {
                font-size: 3em;
            }
        }

        & .mo {
            line-height: 1;
            font-size: 2.8em;
            font-weight: 600;

            @media screen and (max-width: $brk-mobile-width) {
                font-size: 1.8em;
            }
        }
    }

    & .brands {
        & img {
            height: 60px;

            @media screen and (max-width: $brk-ipad-width) {
                height: 40px;
            }
        }
    }

    & .circle_discount_container {
        position: absolute!important;
        left: -50px;
        top: 50px;

        @media screen and (max-width: $brk-min-desktop-width) {
            position: relative!important;
            top: 0;
            left: 0;
        }
    }
}