@import 'index';

@import '../layout/navbar/navbar_dark';
@import '../layout/navbar/header-bar';
@import '../layout/partials/expose_bar';

@import '../layout/partials/only_price';
@import '../layout/partials/b2mfree_new';

@import '../layout/body/general';

h2 {
    font-weight: 400;
    font-size: 2rem;
    color: $color-text-dark;
    @media screen and (max-width: $brk-mobile-width) {
        font-size: 1.5rem;
    }
}
p {
    color: $color-text-light;
}
.container {
    @media screen and (max-width: $brk-min-desktop-width) {
        max-width: 95%;
    }
}
header {
    background-image: url(img/header_bg.jpg);
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 3840px 700px;
    padding-top: 45px;
    position: relative;
    z-index: 1;
    color: #fff;
    overflow: hidden;
    @media screen and (max-width: $brk-min-desktop-width) {
        background-image: url(img/total_privacy_header_image_tablet.jpg);
        background-size: cover;
        background-position: bottom;
    }
    @media screen and (max-width: $brk-ipad-width - 1) {
        background-image: url(img/total_privacy_header_image_mobile.jpg);
        background-size: cover;
        background-position: top;
        background-color: #fff;
        background-position: 0 calc(100% - 30px);
        min-height: 600px;
    }
    @media screen and (max-width: 700px) {
        background-position: 0 calc(100% - 35px);
        min-height: 585px;
    }
    @media screen and (max-width: 575px) {
        background-position: 0 calc(100% - 25px);
        min-height: 565px;
    }
    @media screen and (max-width: $brk-mobile-width) {
        background-position: right calc(0% + -10px) top calc(100% - 30px);
        min-height: 560px;
        html[lang=deu] &,html[lang=fra] & {
            background-position: right calc(0% + -10px) top calc(100% - 45px);
        }
    }
    & .price .b2mfree {
        top: -30px;
        @media screen and (max-width: $brk-ipad-width - 1) {
            top: 20px;
        }
        @media screen and (max-width: $brk-mobile-width) {
            left: 180px;
        }
    }
    & .pam {
        @media screen and (max-width: $brk-mobile-width) {
            html[lang=deu] & {
                font-size: 14px;
                margin-bottom: 8rem!important;
            }
        }
    }
    & .btn_wave {
        @media screen and (max-width: $brk-ipad-width - 1) {
            max-width: 420px;
        }
        @media screen and (max-width: $brk-mobile-width) {
            min-width: 180px;
            width: 100%;
        }
    }
    & .mobile_header {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        & .dark {
            background-color: #263238;
            padding-bottom: 30px !important;

            & p {
                @media screen and (max-width: 575px) {
                    font-size: 13px !important;
                }
            }
        }

        &>.container {
            margin-top: -25px;
            margin-bottom: 0;
        }
    }
    &>.content {
        @media screen and (max-width: $brk-ipad-width - 1) {
            margin-bottom: 115px;
        }
        @media screen and (max-width: $brk-mobile-width) {
            html[lang=fra] &  {
                margin-bottom: 155px;
            }
        }
    }
    & .corners {
        background-image: url(img/top_uneven_corners.svg);
        width: 100%;
        height: 30%;
        background-position: bottom;
        background-repeat: no-repeat;
        bottom: -1px;
        position: absolute;
        background-size: 102%;
        z-index: -1;
        pointer-events: none;
    }
    & p {
        color: #fff;
    }
    & h1 {
        font-size: 1.5rem;
        @media screen and (max-width: $brk-desktop-width) {
            font-size: 1.2rem
        }
        @media screen and (max-width: 700px) {
            font-size: 1rem;
        }
        @media screen and (max-width: $brk-mobile-width) {
            font-size: 1rem;
        }

        & b {
            font-size: 2em;
            @media screen and (max-width: $brk-mobile-width) {
                font-size: 1.5em;
            }
        }
    }

    & .brands {
        & img {
            height: 50px;
            @media screen and (max-width: $brk-ipad-width - 1) {
                height: 30px;
            }
            @media screen and (max-width: 575px) {
                height: 25px;
            }
        }
        &>div:nth-of-type(3) {
            & img {
                @media screen and (max-width: 575px) {
                    display: none;
                }
            }
        }
    }

    & .col-65 {
        width: 65%;
        @media screen and (max-width: $brk-desktop-width) {
            width: 65%;
        }
        @media screen and (max-width: $brk-ipad-width) {
            width: 100%;
        }
    }

    & .bg_container {
        position: absolute;
        top: 50px;
        right: calc(50% - 670px);
        width: 815px;
        z-index: -1;

        & img {
            width: 100%;
        }
    }
}