@import "index";

@import "../layout/navbar/navbar_dark";
@import "../layout/partials/expose_bar_lang";

@import "../layout/body/general";

h2 {
  font-weight: 400;
  font-size: 2rem;
  color: $color-text-dark;

  @media screen and (max-width: $brk-mobile-width) {
    font-size: 1.5rem;
  }
}

p {
  color: $color-text-light;
}

.container {
  @media screen and (max-width: $brk-min-desktop-width) {
    max-width: 95%;
  }
}
header {
  background-color: #1e282a;
  background-image: url(img/PriceSale_top_bg.jpg);
  min-height: 768px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1920px 768px;
  position: relative;
  z-index: 1;
  color: #fff;
  overflow: hidden;
  html[lang="rus"] & {
    min-height: 725px;
  }
  html[lang="spa"] & {
    min-height: 745px;
  }
  @media screen and (max-width: $brk-desktop-width) {
    background-size: 1200px 750px;
    min-height: 685px;
    html[lang="rus"] & {
      min-height: 665px;
    }
    html[lang="spa"] & {
      min-height: 660px;
    }
  }
  @media screen and (max-width: $brk-min-desktop-width) {
    background-image: url(img/PriceSale_top_bg_tablet.jpg);
    background-size: 991px 768px;
    min-height: 768px;
    html[lang="rus"] & {
      min-height: 690px;
    }
    html[lang="spa"] & {
      min-height: 715px;
    }
  }
  @media screen and (max-width: $brk-ipad-width - 1) {
    background-image: url(img/PriceSale_top_bg_mobile.jpg);
    background-size: cover;
    min-height: 600px;
    html[lang="deu"] &,html[lang="fra"] & {
      min-height: 540px;
    }
    html[lang="rus"] & ,html[lang="spa"] &{
      min-height: 600px;
    }
  }
  & #brand {
    margin-top: 4rem;
    @media screen and (max-width: $brk-min-desktop-width) {
      margin-top: 2rem;
    }
    & p {
      color: #000;
      @media screen and (max-width: $brk-ipad-width - 1) {
        color: #fff;
      }
    }
  }
  & .content {
    padding-top: 80px;
    position: relative;
    z-index: 3;
    @media screen and (max-width: $brk-ipad-width - 1) {
      padding-top: 100px;
    }

    & .logo {
      height: 45px;
      @media screen and (max-width: $brk-ipad-width - 1) {
        height: 35px;
      }
    }
    & h1 {
      font-size: 5rem;
      font-weight: 400;
      html[lang="ita"] &,html[lang="rus"] & {
        font-size: 4.8rem;
      }
      html[lang="nld"] &,html[lang="spa"] & {
        font-size: 4.35rem;
      }
      html[lang="por"] & {
        font-size: 3.284rem;
      }
      @media screen and (max-width: $brk-desktop-width) {
        font-size: 4rem;
        html[lang="ita"] & { 
          font-size: 4rem;
        }
        html[lang="nld"] & {
          font-size: 3.65rem;
        }
        html[lang="por"] & {
          font-size: 2.75rem;
        }
        html[lang="rus"] &,html[lang="spa"] & {
          font-size: 3.3rem;
        }
      }
      @media screen and (max-width: $brk-min-desktop-width) {
        font-size: 4.875rem;
        html[lang="deu"] &,html[lang="fra"] & {
          font-size: 4rem;
        }
        html[lang="ita"] & { 
          font-size: 4.185rem;
        }
        html[lang="nld"] &,html[lang="spa"] & {
          font-size: 4.8rem;
        }
        html[lang="por"] & {
          font-size: 3.7rem;
        }
        html[lang="rus"] & {
          font-size: 3.2rem;
        }
      }
      @media screen and (max-width: $brk-ipad-width - 1) {
        line-height: 1;
        font-size: 2.875rem;
        html[lang="deu"] &,html[lang="fra"] & {
          font-size: 2.35rem;
        }
        html[lang="ita"] &, html[lang="nld"] &,html[lang="rus"] &,html[lang="spa"] & {
          font-size: 2.875rem;
        }
        html[lang="por"] & {
          font-size: 2rem;
        }
      }
      & > b {
        color: $pia-light-orange;
        font-weight: 900;
        margin-bottom: 0.5rem;
        display: inline-block;
       
        @media screen and (max-width: $brk-min-desktop-width) {
          html[lang="deu"] & {
            margin-bottom: 0;
          }
        }
        @media screen and (max-width: $brk-ipad-width - 1) {
          margin-bottom: 0;
        }
      }
      & .lines {
        html[lang="deu"] &,html[lang="fra"] & {
          font-size: .7em;
          line-height: 1.9;
        }
        html[lang="dan"] & {
          font-size: .85em;
        }
        @media screen and (max-width: $brk-min-desktop-width) {
          text-transform: uppercase;
        }
        @media screen and (max-width: $brk-ipad-width - 1) {
          line-height: 0.9;
          html[lang="deu"] &,html[lang="fra"] &  {
            font-size: 1em;
          line-height: 1;
          }
        }
        &::after,
        &::before {
          content: "";
          background: linear-gradient(90deg, transparent, white, transparent);
          width: 60%;
          height: 5px;
          display: block;
          margin: 0 auto;
          @media screen and (max-width: $brk-min-desktop-width) {
            width: 100%;
          }
          @media screen and (max-width: $brk-ipad-width - 1) {
            margin: 10px auto 7px;
          }
        }
        &::after {
          @media screen and (max-width: $brk-ipad-width - 1) {
            margin: 4px auto;
          }
        }
      }
      & > span {
        line-height: 1.3;
        font-weight: 400;
        @media screen and (max-width: $brk-min-desktop-width) {
          text-transform: uppercase;
          font-weight: 900;
        }
        & b {
          text-transform: uppercase;
          color: $pia-light-orange;
          font-weight: 900;
          & span {
            color: #fff;
          }
        }
      }
    }
    & .price {
      & p {
        font-size: 1.375rem;
        line-height: 1;
        font-weight: 300;
        @media screen and (max-width: $brk-ipad-width - 1) {
          font-size: 1rem;
          html[lang="deu"] & {
            font-size: .8rem;
          }
        }
        & span {
          font-size: 1.50001em;
          @media screen and (max-width: $brk-min-desktop-width) {
            font-size: 1.666666em;
          }
          &:nth-of-type(1) {
            html[currency="CHF"] &,
            html[currency="AUD"] & {
              font-size: 0.5em;
              margin-right: 1rem;
            }
            html[currency="BRL"] &,
            html[currency="RUB"] & {
              font-size: 0.5em;
              margin-right: 0.5rem;
            }
          }
        }
        & b {
          color: #fff;
          font-size: 3.6363em;
          font-weight: 900;
          display: flex;
          align-items: center;
          html[currency="JPY"] &,
          html[currency="INR"] &,
          html[currency="BRL"] &,
          html[currency="RUB"] & {
            font-size: 3em;
          }
          @media screen and (max-width: $brk-min-desktop-width) {
            font-size: 2.727275em;
            html[currency="JPY"] &,
            html[currency="INR"] &,
            html[currency="BRL"] &,
            html[currency="RUB"] & {
              font-size: 2em;
            }
          }
          @media screen and (max-width: $brk-ipad-width - 1) {
            font-size: 1.875em;
            html[currency="JPY"] &,
            html[currency="INR"] &,
            html[currency="BRL"] &,
            html[currency="RUB"] & {
              font-size: 1.5em;
            }
          }
        }
      }
    }
    & .brands {
      & img {
        height: 45px;
      }
    }
    & .risk {
      margin-bottom: 2rem;
    }
  }
  & .btn_wave {
    @media screen and (max-width: $brk-ipad-width - 1) {
      max-width: 420px;
    }

    @media screen and (max-width: $brk-mobile-width) {
      min-width: 180px;
      width: 100%;
    }
  }
  & .mobile_header {
    background-color: #263238;
    & img {
      height: 40px;
    }
    & p {
      font-size: 14px;
    }
    & .brand {
      flex-direction: column-reverse;
      text-align: center !important;
      & p {
        text-align: center !important;
      }
    }
  }
  & .corners {
    background-image: url(img/top_uneven_corners_sale.svg);
    width: 100%;
    height: 235px;
    background-position: bottom;
    background-repeat: no-repeat;
    bottom: -1px;
    position: absolute;
    z-index: 2;
    background-size: 3840px 768px;
    pointer-events: none;
    @media screen and (max-width: $brk-desktop-width) {
      background-size: 2500px 475px;
      height: 120px;
    }
    @media screen and (max-width: $brk-min-desktop-width) {
      background-image: url(img/top_uneven_corners_sale_tablet.svg);
      background-size: 992px 141px;
      height: 235px;
    }
    @media screen and (max-width: $brk-ipad-width - 1) {
      display: none;
    }
  }
}
