@import "index";

@import "../layout/navbar/navbar_dark";
@import "../layout/navbar/header-bar";
@import "../layout/partials/expose_bar";

@import "../layout/partials/discount_block";
@import "../layout/partials/b2mfree_new";

@import "../layout/partials/trusted_companies";
@import "../layout/partials/steps";
@import "../layout/partials/new_faq";
@import "../layout/footer/dark_footer";

h2 {
  font-weight: 400;
  font-size: 2rem;
  color: $color-text-dark;

  @media screen and (max-width: $brk-ipad-width - 1) {
    font-size: 1.6rem;
  }
}

.border_bottom {
  border-bottom: 1px solid #5eb258;
  padding-bottom: 30px;
}
p {
  color: $color-text-light;
}

.container {
  @media screen and (max-width: $brk-min-desktop-width) {
    max-width: 95%;
  }
}
.b2mfree {
  @media screen and (max-width: $brk-mobile-width) {
    right: -85px;
    top: 25px;
  }
}
header {
  background-image: url(img/streaming_LP2_header_cut.jpg);
  min-height: 768px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 3840px 768px;
  padding-top: 45px;
  position: relative;
  z-index: 1;
  color: #fff;
  overflow: hidden;
  @media screen and (max-width: $brk-ipad-width) {
    background-image: url(img/streaming_LP_tablet_header_img1.jpg);
    min-height: 768px;
    background-size: 768px auto;
    background-position: right top;
  }

  @media screen and (max-width: $brk-ipad-width - 1) {
    background-image: url(img/streaming_mobi_LP_header_img1.jpg);
    min-height: 605px;
  }
  & .btn_wave {
    @media screen and (max-width: $brk-ipad-width - 1) {
      max-width: 420px;
    }

    @media screen and (max-width: 480px) {
      min-width: 180px;
      width: 100%;
    }
  }
  & > .content {
    @media screen and (max-width: $brk-ipad-width - 1) {
      margin-bottom: 115px;
    }
    @media screen and (max-width: $brk-mobile-width) {
      html[lang="fra"] & {
        margin-bottom: 155px;
      }
    }
  }
  & .mobile_header {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    margin-bottom: -1px;
    padding-bottom: 5px;
    border-bottom: solid 5px #fff;

    & .dark {
      background-color: #263238;
      padding-bottom: 30px !important;

      & p {
        @media screen and (max-width: 575px) {
          font-size: 13px !important;
        }
      }
    }

    & > .container {
      margin-top: -25px;
      margin-bottom: 0;
    }
  }

  & .corners {
    background-image: url(img/top_uneven_corners.svg);
    width: 100%;
    height: 181px;
    background-position: bottom;
    background-repeat: no-repeat;
    bottom: -1px;
    position: absolute;
    background-size: 102%;
    z-index: 2;
    background-size: 3840px 181px;

    @media screen and (max-width: $brk-ipad-width - 1) {
      display: none;
    }
  }

  & p {
    color: #fff;
  }
  & h3 {
    @media screen and (max-width: $brk-ipad-width - 1) {
      font-size: 1rem;
    }
  }
  & h1 {
    font-size: 2rem;
    font-weight: 500;
    @media screen and (max-width: $brk-min-desktop-width) {
      font-size: 1.7rem;
    }
    @media screen and (max-width: $brk-ipad-width - 1) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: $brk-mobile-width) {
      font-size: 1.2rem;
    }
    & br.m {
      display: none;
      @media screen and (max-width: $brk-ipad-width - 1) {
        display: block;
      }
    }
    & b {
      font-size: 1.4em;
      font-weight: 500;
      color: $pia-light-orange;
      line-height: 1;
      & span {
        text-transform: uppercase;
      }
    }
  }

  & .brands {
    & img {
      height: 50px;

      @media screen and (max-width: $brk-ipad-width - 1) {
        height: 30px;
      }

      @media screen and (max-width: 575px) {
        height: 25px;
      }
    }

    & > div:nth-of-type(3) {
      & img {
        @media screen and (max-width: 575px) {
          display: none;
        }
      }
    }
  }

  & .bg_container {
    position: absolute;
    bottom: 5px;
    right: -1px;
    width: 88%;
    z-index: -1;
    height: 100%;
    overflow: hidden;

    @media screen and (max-width: $brk-min-desktop-width) {
      // width: 605px;
    }
    @media screen and (max-width: $brk-ipad-width) {
      width: 100vw;
      left: 0;
      right: unset;
      bottom: 0;
    }
    @media screen and (max-width: $brk-ipad-width - 1) {
      bottom: 50px;
    }

    @media screen and (max-width: 575px) {
      width: 450px;
      right: calc(50% - 415px);
    }
    & .hand {
      position: absolute;
      bottom: 0;
      height: 101%;
      z-index: 3;
      left: -1px;
      @media screen and (max-width: $brk-ipad-width) {
        content: url("img/streaming_LP_tablet_header_window.png");
      }
      & img {
        width: 100%;
      }
    }
    & .streaming {
      position: absolute;
      z-index: 1;
      transform: translateX(0);

      // @include keyframes(zap) {
      //   0%,12.5%,100% {
      //     transform: translateX(0);
      //   }
      //   25%,37.5%,75%,87.5% {
      //     transform: translateX(-135px);
      //   }
      //   50%,62.5% {
      //     transform: translateX(-270px);
      //   }
      // }
      // @include keyframes(zap2) {
      //   0%,83.333%,100% {
      //     transform: translateX(0);
      //   }
      //   8.333%,25%,58.333%,75% {
      //     transform: translateX(135px);
      //   }
      //   33.333%,50% {
      //     transform: translateX(270px);
      //   }
      // }

      @include keyframes(zap2) {
        0%,
        16.666%,
        100% {
          transform: translateX(0);
        }
        25%,
        41.666%,
        75%,
        91.666% {
          transform: translateX(135px);
        }
        50%,
        66.666% {
          transform: translateX(270px);
        }
      }

      @include keyframes(zap) {
        0%,
        12.5%,
        100% {
          transform: translateX(0);
        }
        25%,
        37.5%,
        75%,
        87.5% {
          transform: translateX(-135px);
        }
        50%,
        62.5% {
          transform: translateX(-270px);
        }
      }
      &:nth-of-type(1) {
        bottom: 0;
        height: 470px;
        animation: zap2 12s ease-in-out infinite;
        left: -130px;
        @media screen and (max-width: $brk-ipad-width) {
          content: url("img/netflix_tab1.jpg");
        }
      }
      &:nth-of-type(2) {
        bottom: 470px;
        height: 235px;
        animation: zap 12s ease-in-out infinite;
        @media screen and (max-width: $brk-ipad-width) {
          display: none;
        }
      }
    }
  }
  & .b2mfree {
    @media screen and (max-width: $brk-ipad-width) {
      height: 165px;
      width: 160px;
      top: 80px;
      right: -30px;
    }
    @media screen and (max-width: $brk-ipad-width - 1) {
      right: -160px;
      top: 10px;
    }
  }
  & .stream {
    position: absolute;
    top: 0;
    height: 100%;
    @media screen and (min-width: 992px) {
      left: calc(50% - 960px / 2);
      max-width: 1080px;
    }
    @media screen and (min-width: 1200px) {
      left: calc(50% - 1140px / 2);
      max-width: 1635px;
    }
    @media screen and (max-width: 991px) {
      left: calc(50% - 95% / 2);
      max-width: 100%;
    }
  }
}
#streaming_needs {
  & .need {
    & img {
      width: 185px;
      @media screen and (max-width: $brk-min-desktop-width) {
        width: 100px;
      }
      @media screen and (max-width: $brk-ipad-width - 1) {
        width: 60px;
      }
    }
  }
  & .unblock {
    & img {
      height: 45px;
      @media screen and (max-width: $brk-desktop-width) {
        height: 40px;
      }
    }
  }
  & p {
    color: $color-text-light;
    &.color_dark {
      color: $color-text-dark;
    }
  }
  & .fadeInUp {
    @media screen and (max-width: $brk-ipad-width - 1) {
      animation: none !important;
      visibility: visible !important;
    }
  }
  & h6 {
    color: $color-text-dark;
    height: 50px;
    @media screen and (max-width: $brk-min-desktop-width) {
      height: unset;
    }
    @media screen and (max-width: $brk-ipad-width - 1) {
      font-size: 1rem;
    }
  }
  & .fa-minus {
    display: none;
  }
  & .btn-link {
    text-decoration: none;
    & h6,
    & .fal {
      text-decoration: none;
    }
    & .fal {
      font-size: 1rem;
      color: $color-text-dark;
      opacity: 0.7;
    }
    & .collapse_icon {
      padding-left: 20px;
    }
    &[aria-expanded="true"] {
      & .fa-minus {
        display: block;
      }
      & .fa-plus {
        display: none;
      }
    }
  }
  & .card-body {
    padding-left: 110px;
  }
  & .card-header,
  & .card {
    background-color: #fff;
    border: none;
    border-bottom: solid 1px rgba($pia-green, 0.2);
  }
}
