#discount_block {
  & .right_line {
    background-image: url(img/badge_frame_arrow_right.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 295px;
    @include ie-only {
      width: 375px;
    }
    html[lang="deu"] &,
    html[lang="ita"] &,
    html[lang="rus"] &,
    html[lang="spa"] & {
      background-image: url(img/badge_frame_arrow_right_short.svg);
    }
    html[lang="fra"] &,
    html[lang="dan"] &,
    html[lang="por"] & {
      background-image: url(img/badge_frame_arrow_right_short_fr.svg);
    }
    html[lang="rus"] & {
      width: 305px;
    }
    @media screen and (max-width: $brk-ipad-width) {
      height: 105px;
      width: 215px;
      html[lang="rus"] & {
        width:  270px;
      }
    }
    @media screen and (max-width: $brk-ipad-width - 1) {
      background-image: url(img/badge_frame_right.svg);
      width: 180px;
      html[lang="deu"] &,
      html[lang="ita"] &,
      html[lang="rus"] &,
      html[lang="por"] &, html[lang="spa"] &  {
        background-image: url(img/badge_frame_right_short.svg);
      }
      html[lang="fra"] &,
      html[lang="dan"] & {
        background-image: url(img/badge_frame_right_short_fr.svg);
      }
      html[lang="jpn"] & {
        width: 160px;
      }
      html[lang="por"] & {
        width: 220px;
      }
      html[lang="rus"] & {
        width: 200px;
      }
    }
    @media screen and (max-width: $brk-mobile-width) {
      width: 165px;
      height: 85px;
      html[lang="fra"] & {
        width: 140px;
      }
      html[lang="deu"] & {
        width: 155px;
      }
      html[lang="jpn"] & {
        width: 135px;
      }
      html[lang="por"] & {
        width: 200px;
      }
      html[lang="rus"] & {
        width: 170px;
      }
    }
    & .top {
      font-weight: 700;
      margin-top: -35px;
      @media screen and (max-width: $brk-ipad-width - 1) {
        html[lang="deu"] & {
          margin-top: -25px;
          font-size: 0.8em;
        }
        html[lang="ita"] & {
          margin-top: -27px;
          font-size: 13px;
        }
        html[lang="por"] & {
          margin-top: -25px;
          font-size: 14px
        }
      }

      @media screen and (max-width: $brk-mobile-width) {
        font-size: 14px;
        margin-top: -30px;
        html[lang="deu"] & {
          font-size: 0.7em;
          margin-top: -20px;
        }
        html[lang="fra"] & {
          font-size: 12px;
          margin-top: -25px;
        }
      }
    }
    & .discount {
      font-size: 8.5rem;
      line-height: 1;
      align-items: end;
      font-weight: 600;
      @media screen and (max-width: $brk-ipad-width) {
        font-size: 5rem;
      }
      @media screen and (max-width: $brk-ipad-width - 1) {
        html[lang="rus"] & {
          font-size: 4rem;
        }
      }
      @media screen and (max-width: $brk-mobile-width) {
        font-size: 4rem;
        html[lang="fra"] &, html[lang="rus"] & {
          font-size: 3rem;
        }
      }
      & p:nth-of-type(1) {
        font-size: 1em;
      }

      & p:nth-of-type(2) {
        font-size: 0.6em;
      }
    }
    & .bottom {
      font-weight: 700;
      margin-top: -10px;
      font-size: 1.5rem;
      padding-left: 0.5rem;
      html[lang="por"] & {
        margin-top: -5px;
        font-size: 1.1rem;
      }
      html[lang="spa"] & {
        margin-top: -5px;
        font-size: 1.2rem;
        padding-left: 0;
      }
      @media screen and (max-width: $brk-ipad-width) {
        margin-top: -5px;
        font-size: 1.2rem;
        html[lang="por"] & {
          font-size: 1rem;
        }
        html[lang="spa"] & {
          margin-top: -1px;
          font-size: 1rem;
        }
      }
      @media screen and (max-width: $brk-mobile-width) {
        font-size: 1rem;
      }
    }
  }
  & .left_line {
    height: 160px;
    width: 130px;
    @media screen and (max-width: $brk-ipad-width) {
      height: 105px;
      width: 80px;
    }
    @media screen and (max-width: $brk-ipad-width - 1) {
      width: 40px;
    }
    @media screen and (max-width: $brk-mobile-width) {
      width: 30px;
      height: 85px;
    }
    & img {
      height: 100%;
    }
  }
}
