@import '../partials/experience';
@import '../partials/operating_system';

#experience_system {
    background-color: #eceff1;
    background-image: url(img/exp_background.png);
    background-position:  center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}