#why_pia {
    width: 100%;
    & h4 {
        padding: 10px 23px 20px;
        color: #004249;
        font-size: 25px;
        font-weight: 500;
        line-height: 28px;
    }
    & p {
        color: #4F4F4F;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
    }
    & img {
        height: 235px; 
    }
}