#lifehacker_bar {
    & .container {
        padding: 20px 192px;
        @media screen and (max-width: $brk-desktop-width) {
            padding: 20px 115px;
        }
        @media screen and (max-width: $brk-min-desktop-width) {
            padding: 20px 25px;
        }
        @media screen and (max-width: $brk-ipad-width) {
            padding: 0px 15px;
        }
    }

    & h5 {
        font-size: 18px;
        @media screen and (max-width: $brk-ipad-width) {
            font-size: 14px;
        }
    }
    & .quote {
        width: 550px;
        & .quotes {
            width: 20px;
            top: 0;
            &:nth-of-type(1) {
                left: -20px;
            }
            &:nth-of-type(2) {
                right: -20px;
            }
        }
    }
    & .lifehacker {
        height: 35px;
        margin-left: 30px;
        vertical-align: baseline;
    }
    & .btn_pia {
        margin-top: 40px;
    }
}