#only_price {
    font-size: 24px;
    html[lang="nld"] & {
        font-size: 21px;
    }
    & .white {
        color: #fff;
        font-size: 1em;
        border-bottom: solid 1px $pia-light-orange;
        border-top: solid 1px $pia-light-orange;
        padding: 2px 0;
        @media screen and (max-width: $brk-ipad-width - 1) {
            border-bottom: none;
            border-top: none;
        }
    }
    & .white,& .color_pia_light_orange,& small,& span {
        vertical-align: middle;
    }
    & .color_pia_light_orange {
        font-size: 6em;
        font-weight: 500;
        line-height: .8;
        & small {
            font-size: .4em;
        }
        html[currency="EUR"] & {
            & small:nth-of-type(1) {
                order: 3;
            }
        }
    }
}