#platforms_and_payment {
    & .operating_systems {
        background-image: url(/img/platforms_bg.png);
        background-repeat: no-repeat;
        background-size: calc(100% - 55px);
        height: 350px;
        padding: 0 55px;
        background-position: left calc(50% - 10px) bottom;
        & img {
            height: 55px;
        }
    }
    & h6 {
        font-weight: 400;
    }
    & .os_title {
        font-size: 14px;
    }
}