#pricing {
    width: 100%;

    & .flex-pricing {
        @include flexy($just: center, $align-i: center);
        margin-bottom: 30px;

        @media screen and (max-width: $brk-min-desktop-width) {
            flex-direction: column;
        }
    }

    & .text-danger {
        font-size: 1.2em;
    }

    & .title {
        width: 100%;
        min-height: 50px;
        padding: 30px 20px 10px;

        & .green_line {
            background-color: $pia-green;
            width: 45px;
            border-top: 3px solid rgba(0, 0, 0, .1);
            border-radius: 10px;
            margin-top: .3rem;
        }

        & h5 {
            font-size: 22px;
            margin: 0;
            line-height: 1.1;
        }
    }

    & .super_price {
        width: 165px;
        margin: 10px auto;
    }

    & .btn_pia {
        &.container-fluid {
            min-width: 100%;
        }
        &:hover {
            
        }
    }

    & .best-price {
        & .pricing-every {    
            margin: 5px 0 30px;
        }
        & .month {
            font-size: 1em;
        }
        & .pricing_container {
            padding: 0px 0 30px;
        }

        &.pricing-price {
            border: solid 2px $pia-orange;
        }
    }

    & .pricing_container {
        width: 80%;
        margin: 0 auto;
        padding: 0px 0 40px;
    }

    & .pricing-save {
        display: inline-block;
        font-size: 30px;
        color: $pia-orange;
        font-weight: 700;
        border-radius: 5px;
    }

    & .currency-alert {
        font-size: 18px;
    line-height: 1.1;
    padding: 10px 0;
    width: 90%;
    }

    & .pricing-price {
        text-decoration: none;
        width: calc(31.6% - 30px);
        margin: 15px;
        position: relative;
        transition: .3s all;
        min-height: 300px;
        background-color: #f6f9fe;
        // background: linear-gradient(0deg, #f6f9fe 60%, transparent);
        border-radius: 25px;
        box-shadow: $shadow-light;

        &:hover,
        &:focus {
            text-decoration: none;    
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.17);
            transform: scale(1.05) translateY(-10px);
        }

        @media screen and (max-width: $brk-min-desktop-width) {
            width: 320px;

            &:nth-of-type(1) {
                order: 2;
            }

            &:nth-of-type(2) {
                order: 1;
            }

            &:nth-of-type(3) {
                order: 3;
            }
        }

        @media screen and (max-width: $brk-mobile-width) {
            width: 90%;
        }
    }

    & .btn_hp_gradient_orange {
        width: 100%;
        min-width: 100%;
    }

    & .pricing-bill {
        font-size: 50px;
        @include flexy($just: center);
        line-height: 1;
        font-weight: 300;
    }

    & .pricing-every {    
        font-size: 15px;
        margin: 25px 0 30px;
    }

    & .price-currency,
    & .perMonthNumber {
        font-size: 1em;
    }
    & .month {
        font-size: .7em;
        align-self: flex-end;
    }
    & .payments {
        & img {
            height: 25px;
        }
    }
}