$strokeFill: 534;
#steps {
  background-image: url(img/steps_bg_white.jpg);
  background-repeat: no-repeat;
  background-size: 3840px 705px;
  background-position: center top;
  min-height: 705px;
  padding-top: 120px;
  color: #fff;
  background-color: #263137;
  @media screen and (max-width: $brk-desktop-width) {
    background-image: url(img/steps_bg_white_tablet.jpg);
    background-size: 100% auto;
  }
  @media screen and (max-width: $brk-ipad-width - 1) { 
    min-height: unset;
  }
  & p {
    & b {
      color: $pia-green;
    }
  }
  & h3 {
    font-weight: 300;
  }
  & h2.text-uppercase{
    font-size: 1.85rem;
  }
  & .footer_text {
    font-weight: 600;
    & span {
      color: $pia-green;
    }
  }
  & .arrow {
    margin-top: 85px;
    font-size: 2.5rem;
  }
  & [steps="4"] {
    & .arrow {
      &:nth-of-type(4) {
        @media screen and (max-width: $brk-desktop-width) {
          display: none;
        }
        @media screen and (max-width: $brk-ipad-width - 1) {
          display: block;
        }
      }
      @media screen and (max-width: $brk-ipad-width - 1) {
        margin-top: 0;
        margin-bottom: 1rem;
        transform: rotateZ(90deg);
      }
    }
    @media screen and (max-width: $brk-desktop-width) {
      flex-wrap: wrap;
    }
    & .step {
      -ms-flex: 0 0 calc(25% - 35px);
      flex: 0 0 calc(25% - 35px);
      max-width: calc(25% - 35px);
      @media screen and (max-width: $brk-desktop-width) {
        -ms-flex: 0 0 calc(50% - 35px);
        flex: 0 0 calc(250% - 35px);
        max-width: calc(50% - 35px);
        margin-bottom: 3rem;
      }
      @media screen and (max-width: $brk-ipad-width - 1) {
        margin-bottom: 1rem;
        -ms-flex: 0 0 280px;
        flex: 0 0 280px;
        max-width: 100%;
        max-height: 280px;
        html[lang=fra] &,html[lang=deu] & {
        -ms-flex: 0 0 300px;
        flex: 0 0 300px;
        max-height: 300px;
        }
      }
    }
  }
  & .steps {
    margin-bottom: 4.5rem;
  }
  & .step {
    &.ani {
      &[data-percent="25"] {
        & .outer {
          -webkit-animation: show25 0.5s forwards;
          animation: show25 0.5s forwards;
          @include ie-only {
            stroke-dashoffset: $strokeFill * 0.75;
          }
        }
      }
      &[data-percent="50"] {
        & .outer {
          -webkit-animation: show50 1s forwards;
          animation: show50 1s forwards;
          @include ie-only {
            stroke-dashoffset: $strokeFill * 0.5;
          }
        }
      }
      &[data-percent="75"] {
        & .outer {
          -webkit-animation: show75 1.5s forwards;
          animation: show75 1.5s forwards;
          @include ie-only {
            stroke-dashoffset: $strokeFill * 0.25;
          }
        }
      }
      &[data-percent="100"] {
        & .outer {
          -webkit-animation: show100 2s forwards;
          animation: show100 2s forwards;
          @include ie-only {
            stroke-dashoffset: 0;
          }
        }
      } 
    }
    & .circle {
      position: relative;
      width: 190px;
      height: 190px;
      & .outer {
        stroke-linecap: round;
        transform-origin: 95px 95px;
        transform: rotateZ(-90deg);
        -webkit-transform: rotateZ(-90deg);
        -moz-transform: rotateZ(-90deg);
        -ms-transform: rotateZ(-90deg);
        -o-transform: rotateZ(-90deg);
        fill: transparent;
        stroke: $pia-green;
        stroke-width: 20;
        stroke-dasharray: $strokeFill;
        stroke-dashoffset: $strokeFill - 1;
        transition: stroke-dashoffset 1s;
        -webkit-animation-play-state: running;
        -moz-transform: rotate(-89deg) translateX(-190px);
        @include ie-only {
          animation: unset!important;
          -webkit-animation: unset!important;
        }
      }
      & .shadow_circle {
        fill: transparent;
        stroke: rgba($color-text-light, 0.2);
        stroke-width: 20;
      }
      & .num {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 3em;
        color: #fff;
        @media screen and (max-width: $brk-ipad-width - 1) {
          font-size: 5em;
          font-weight: 900;
        }
      }
    }
  }
}
@include keyframes(show25) {
  0% {
    stroke-dashoffset: $strokeFill + 3;
  }
  100% {
    stroke-dashoffset: $strokeFill * 0.75;
  }
}
@include keyframes(show50) {
  0% {
    stroke-dashoffset: $strokeFill + 3;
  }
  100% {
    stroke-dashoffset: $strokeFill * 0.5;
  }
}
@include keyframes(show75) {
  0% {
    stroke-dashoffset: $strokeFill + 3;
  }
  100% {
    stroke-dashoffset: $strokeFill * 0.25;
  }
}
@include keyframes(show100) {
  0% {
    stroke-dashoffset: $strokeFill;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
