#pricing {
    & .pricing-price {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        max-width: 300px;
        flex: 0 0 300px;
        box-shadow: 0 0 15px #00000040;
        transition: all .5s ease-in-out;
        cursor: pointer;
        @media screen and (max-width: $brk-desktop-width) {
            max-width: 225px;
            flex: 0 0 225px;
        }
        @media screen and (max-width: $brk-min-desktop-width) {
            max-width: 210px;
            flex: 0 0 210px;
        }
        & .btn_wave {
            @media screen and (max-width: $brk-desktop-width) {
                min-width: unset;
                width: 180px;
            }
        }
        &:hover {
            transform: scale(1.01);
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
            & .btn_wave.orange {
                text-decoration: none;
                color: #fff;
                background-color: #ffc666;
            }
}
        &.best-price {
            background-color: #fff;
        }

        & .body {
            background-color: #fff;
            padding: 45px 20px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 360px;
            @media screen and (max-width: $brk-min-desktop-width) {
                padding: 45px 10px;
            }
        }

        &.best-price {
            border: solid 1px $pia-green;
            max-width: 365px;
            flex: 0 0 365px;
            z-index: 2;
            @media screen and (max-width: $brk-desktop-width) {
                max-width: 290px;
                flex: 0 0 290px;
            }
            @media screen and (max-width: $brk-min-desktop-width) {
                max-width: 255px;
                flex: 0 0 255px;
            }
            & .body {
                padding: 0 20px 45px;
                height: unset;
                @media screen and (max-width: $brk-min-desktop-width) {
                    padding: 0 20px 40px;
                }
            }
            & .perMonthNumber {
                font-weight: 500;
            }
            & .pricing-bill {
                color: $color-text-dark;
                font-size: 1.6em;
                @media screen and (max-width: $brk-desktop-width) {
                    font-size: 1.2em;
                }
            }
        }

        & .header {
            color: #fff;
            background-color: #546e7a;
            height: 55px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

            &.best-header {
                @include linear-gradient(to bottom, $pia-green, darken($pia-green, 10%));
                padding: 20px 15px 0;
                height: 70px;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                @media screen and (max-width: $brk-min-desktop-width) {
                    padding: 15px 10px 0;
                    height: 55px;
                }
                & h5 {
                    @media screen and (max-width: $brk-min-desktop-width) {
                        font-size: 1rem;
                    }
                }
            }
        }
        &:nth-of-type(1) {
            & .header {
                border-top-right-radius: 0;
            }
            & .body {
                border-bottom-right-radius: 0;
            }
        }
        &:nth-of-type(3) {
            & .header {
                border-top-left-radius: 0;
            }
            & .body {
                border-bottom-left-radius: 0;
            }
        }
        & .super_container {
            background-image: url(img/super_sign.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            width: 205px;
            height: 140px;
            margin: -5px auto 0;
            @media screen and (max-width: $brk-desktop-width) {
                width: 180px;
                height: 120px;
            }
            @media screen and (max-width: $brk-min-desktop-width) {
                width: 155px;
                height: 105px;
            }
            & img {
                width: 80%;
                position: absolute;
                left: 10%;
                transform: translate(0,0) scale(1);
                -webkit-transform: translate(0,0) scale(1);
                -moz-transform: translate(0,0) scale(1);
                -ms-transform: translate(0,0) scale(1);
                -o-transform: translate(0,0) scale(1);
                animation: floating 10s infinite ease-in-out;
                -webkit-animation: floating 10s infinite ease-in-out;

                @include keyframes(floating) {
                    0%,100% {
                        transform: translate(0,0) scale(1);
                        -webkit-transform: translate(0,0) scale(1);
                        -moz-transform: translate(0,0) scale(1);
                        -ms-transform: translate(0,0) scale(1);
                        -o-transform: translate(0,0) scale(1);
}
                    25% {
                        transform: translate(5px, 0px) scale(1.1);
                        -moz-transform: translate(5px, 0px) scale(1.1);
                        -ms-transform: translate(5px, 0px) scale(1.1);
                        -o-transform: translate(5px, 0px) scale(1.1);
                        -webkit-transform: translate(5px, 0px) scale(1.1);
}
                    50% {
                        transform: translate(5px, 5px) scale(1.1);
                        -webkit-transform: translate(5px, 5px) scale(1.1);
                        -moz-transform: translate(5px, 5px) scale(1.1);
                        -ms-transform: translate(5px, 5px) scale(1.1);
                        -o-transform: translate(5px, 5px) scale(1.1);
}
                    75% {
                        transform: translate(-10px, 10px) scale(1);
                        -webkit-transform: translate(-10px, 10px) scale(1);
                        -moz-transform: translate(-10px, 10px) scale(1);
                        -ms-transform: translate(-10px, 10px) scale(1);
                        -o-transform: translate(-10px, 10px) scale(1);
}
                }
            }
        }
        & .btn_container {
            width: 80%;
            margin: 0 auto;
            @media screen and (max-width: $brk-desktop-width) {
                width: 100%;
            }
        }
        & .pricing-bill {
            color: #546e7a;
            font-size: 1.4em;
            align-items: baseline;
            @media screen and (max-width: $brk-desktop-width) {
                font-size: 1em;
            }

            & .price-currency,
            & .month {
                font-size: 1.2em;
            }

            & .perMonthNumber {
                font-size: 3em;
            }
        }

        & .pricing-every {
            color: $color-text-dark;
            @media screen and (max-width: $brk-desktop-width) {
                height: 50px;
                margin-bottom: 1rem!important;
            }
            & del {
                color: $color-text-light;
            }
        }

        & .pricing-save {
            font-weight: 300;
            height: 33px;
            @media screen and (max-width: $brk-min-desktop-width) {
                margin-top: 1.5rem!important;
                margin-bottom: 1.5rem;
            }
            & b {
                font-weight: bold;
            }
        }
        & .spacer {
            height: 33px;
            margin-bottom: .5rem;
            @media screen and (max-width: $brk-min-desktop-width) {
                margin-top: 1.5rem!important;
                margin-bottom: 1.5rem;
            }
        }
        & .best-footer {
            border-top: solid 1px $pia-green;
            padding: 0 10px;

            & .green {
                @include linear-gradient(to top, $pia-green, darken($pia-green, 10%));
                padding: 0 15px;
                height: 70px;
                @media screen and (max-width: $brk-min-desktop-width) {
                    height: 55px;
                }
                & h5 {
                    font-size: .9rem;
                    @media screen and (max-width: $brk-min-desktop-width) {
                        font-size: .7rem;
                    }
                }
            }
        }
    }

    & .currency-alert {
        color: $color-text-light;
    }
}