#trusted_companies {
    width: 100%;

    & h5 {
        text-transform: uppercase;
        font-weight: 400;
        color: lighten($black, 60%);
        font-size: 14px;
    }

    & img {
        height: 40px;
        filter: saturate(0);
        opacity: .4;

        @media screen and (max-width: $brk-ipad-width) {
            height: 30px;
        }
    }

    & .d-flex {
        @media screen and (max-width: $brk-ipad-width - 1) {
            width: 100%;
            overflow-x: scroll;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        & div {
            width: 160px;
            margin: 10px 0;

            @media screen and (max-width: $brk-ipad-width) {
                width: 120px;
                margin: 5px 0;
            }
            @media screen and (max-width: $brk-ipad-width - 1) {
                margin: 5px 25px;
            }
        }
    }
}