#unblock_steps {
    & .container {
        border-top: solid 3px #F6F9FE;
    }
    & .unlock {
        width: 150px;
    }
    & .d-table {
        & img {
            width: 25px;
        }
    }
}