#why_us {
    & .subsStyle {
        font-size: 15px;
    }

    & img {
        width: 30px;
        margin-right: 10px;

        @media screen and (max-width: $brk-ipad-width) {
            width: 20px;
        }
    }
    & .row {
        margin: 0;
    }
    & .advList {
        &>div {
            padding: 20px 30px;
            display: flex;
            align-items: center;
            &:nth-child(n+7) {
                @media screen and (max-width: $brk-mobile-width) {
                    display: none;
                }
            }
            @media screen and (max-width: $brk-mobile-width) {
                width: 100%;
                max-width: 335px;
                margin: 0 auto;
                padding: 10px 0px;
            }
        }
    }
}