#why_pia {
    
    & .quotes_circle {
        @include cube-box(260px);
        margin: -165px auto 30px;
        background-color: #fff;
        border: solid 2px $pia-green;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: $color-text-dark;
        text-align: center;

        & .quotes {
            width: 45%;
            margin: -10% auto 10%;
            background-color: #fff;
            padding: 5%;
        }

        & .quotes_text {
            & p {
                margin: 0;
                font-style: italic;

                &:nth-of-type(2) {
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }

        & hr {
            border-top: 2px solid $pia-green;
            width: 10%;
            margin: 10px auto;
        }

        & .pcmag {
            width: 40%;
        }
    }
}