#intro_video {
    & .modal-content {
        background-color: transparent;
        border: none;
    }
    & h6 {
        color: #fff;
    }
    & #video_btn {
        & img {
            width: 770px;
            @media screen and (max-width: $brk-min-desktop-width) {
                width: 620px;
            }
            @media screen and (max-width: $brk-ipad-width) {
                width: 390px;
            }
            @media screen and (max-width: $brk-mobile-width) {
                width: 100%;
            }
        }
    }
}