<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/pages/loved-ones.css') %>">
</head>

    <body>
        <% include ../navbar/navbar %>
        <header>
        </header>
    </body>

</html>