<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/loved-ones.css') %>">
</head>

    <body>
        <% include ../navbar/navbar_white %>
        <header>
        </header>
        <% include ../partials/HP_why_PIA %>
        <% include ../partials/trusted_companies %>
        <% include ../partials/vpn_features %>
    </body>

</html>