<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/loved-ones.css') %>">
</head>

    <body>
        <% include ../navbar/navbar_white %>
         <%- include('../partials/header_title', {bg: 'header_bg_baby.png', 
                                                    title: gettext('<b>Privacy</b><br>is worth protecting'),
                                                    subtitle: gettext('Without Private Internet Access®, your online activity is vulnerable. With Private Internet Access®, your online activity is protected with encryption and an anonymous IP address'),
                                                    btn_title: gettext('Reclaim your privacy today')}) %>
        <% include ../body/hp %>
        <% include ../partials/footers/people_discount %>
    </body>

</html>