<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/loved-ones.css') %>">
    <link rel="stylesheet" href="https://use.typekit.net/syh7gcy.css">
</head>

    <body>
        <% include ../navbar/navbar_white %>
         <%- include('../partials/header_title', {bg: 'header_bg_baby.png', 
                                                    title: gettext('<b>Privacy</b><br>is worth protecting'),
                                                    subtitle: gettext('Without our VPN, your internet activity can be tracked and and you are vulnerable.'),
                                                    btn_title: gettext('Reclaim your privacy today')}) %>
        <% include ../body/hp %>
        <% include ../partials/footers/people_discount %>
        <% include ../partials/tag_manager %>
    </body>

</html>