<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('css/new_design_header.css') %>">
    <link rel="stylesheet" href="https://use.typekit.net/syh7gcy.css">
</head>

    <body>
        <% include ../navbar/navbar_white %>
        <%- include('../partials/newDesign_builder', {  pricing: false,
                                                        bg: 'header_bg_baby.png?v2', 
                                                        bg_mobile: 'header_bg_baby_mobile.png', 
                                                        title: "<h1 class='d-inline-block mb-3 privacy'>"+gettext('<b>Privacy</b><br>is worth protecting') +"</h1>",
                                                        subtitle: gettext('Without our VPN, your internet activity can be tracked and you are vulnerable.'),
                                                        btn_title: gettext('Reclaim your privacy today')}) %>
        <% include ../body/hp %>
        <% include ../partials/footers/people_discount %>
        <% include ../partials/tag_manager %>
    </body>

</html>