<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('css/new_design_header.css') %>">
    <link rel="stylesheet" href="https://use.typekit.net/syh7gcy.css">
</head>

    <body>
        <% include ../navbar/navbar_white %>
        <%- include('../partials/newDesign_builder', {  pricing: false,
                                                        bg: 'header_bg_dog.jpg', 
                                                        bg_mobile: 'header_bg_dog_mobile.jpg', 
                                                        title: "<h1 class='d-inline-block mb-3 privacy'>"+gettext('<b>Protect</b><br>yourself & your family') +"</h1>",
                                                        subtitle: gettext('With Private Internet Access®, your online activity is protected with encryption and an anonymous IP address.'),
                                                        btn_title: gettext('Reclaim your online privacy')}) %>
        
        <% include ../body/hp %>
        <% include ../partials/footers/people_discount %>
        <% include ../partials/tag_manager %>
    </body>

</html>