<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/loved-ones.css') %>">
    <link rel="stylesheet" href="https://use.typekit.net/syh7gcy.css">
</head>

    <body>
        <% include ../navbar/navbar_white %>
         <%- include('../partials/header_title', {bg: 'header_bg_couple_kid.jpg', 
                                                    title: gettext('<b>Protect</b><br>yourself & your family'),
                                                    subtitle: gettext('With Private Internet Access®, your online activity is protected with encryption and an anonymous IP address.'),
                                                    btn_title: gettext('Reclaim your online privacy')}) %>

        <% include ../body/hp %>
        <% include ../partials/footers/people_discount %>
    </body>

</html>