@import '../carousel_boot';

#carousel {
    & .trustpilot {
        height: 30px;
        @media screen and (max-width: $brk-mobile-width) {
            height: 20px;
        }
    }
    & .container-fluid {
        @media screen and (max-width: $brk-mobile-width) {
            padding: 0;
        }
    }
    & .grad {
        overflow: hidden;
        @media screen and (max-width: $brk-mobile-width) {
            padding: 0;
        }
        & .gradient_left,
        & .gradient_right {
            position: absolute;
            width: 20%;
            top: 0;
            height: 325px;
            z-index: 1;
        }

        & .gradient_right {
            right: -5px;
            @include linear-gradient(to left, #fff 25%, transparent)
        }

        & .gradient_left {
            left: -5px;
            @include linear-gradient(to right, #fff 25%, transparent)
            
        }
    }

    & .controls {
        position: absolute;
        top: 130px;
        width: 640px;
        left: calc(50% - 320px);
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        color: $pia-green;
        z-index: 5;

        @media screen and (max-width: $brk-min-desktop-width) {
            width: 100%;
            max-width: 100%;
            left: 0;
        }

        & i {
            color: $pia-green;
        }
    }

    & .carousel-item {
        padding-right: 40px;
        padding-left: 40px;
        @media screen and (max-width: $brk-ipad-width - 1) {
            padding-right: 15px;
            padding-left: 15px;
        }
        @media screen and (max-width: $brk-mobile-width) {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    & .carousel-indicators {
        height: 20px;
        bottom: -55px;

        & li {
            background-color: #e5e5e5;
            opacity: 1;
            width: 8px;
            height: 8px;
            border: none;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin: 0 10px;

            &.active {
                background-color: #5eb258;
            }
        }
    }

    & .border_bottom {
        padding-bottom: 100px;
    }

    & .carousel-inner {
        @include center-object(1730px);
        height: 325px;

        @media screen and (max-width: $brk-min-desktop-width) {
            width: 100%;
            left: 0;
            display: block;
        }
    }

    & .card {
        height: 300px;
        overflow: hidden;
        box-shadow: 0 0 15px #00000024;

        & .stars {
            color: #E9A854;
            font-size: 12px;
            margin-left: 10px;
            @media screen and (max-width: $brk-ipad-width - 1) {
                margin-left: 5px;
            }
            @media screen and (max-width: $brk-mobile-width) {
                font-size: 10px;
            }
        }

        & .card-body {
            overflow: hidden;
            position: relative;
        }

        & .card-footer {
            height: 50px;
            color: #fff;
            background-color: $color-text-dark;
            @media screen and (max-width: $brk-mobile-width) {
                padding: 0.75rem 0.5rem;
            }
            & .name {
                color: #fff;
                font-size: 12px;
                margin-bottom: 0;
                @media screen and (max-width: $brk-ipad-width - 1) {
                    width: 40px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 15px;
                    vertical-align: middle;
                }
                @media screen and (max-width: $brk-mobile-width) {
                    font-size: 10px;
                }
            }

            & a {
                float: right;
                font-size: 12px;
                margin-top: 5px;
                color: $color-text-light;
                @media screen and (max-width: $brk-mobile-width) {
                    font-size: 10px;
                }
            }
        }
    }

    & .gradient {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 45%;
        @include linear-gradient(to top, #fff 25%, transparent)
    }
}